/*---------basic html components---------*/
html{
	background-image:url('images/bgnoise.png');
}
a {
	color: orange;
	text-decoration: none;
	font-style: bold;
	/*text-shadow: 1px 1px 1px #d0d0d0;*/
}
body {
	/*font-family: helvetica;*/
	font-family: 'Oswald', sans-serif;
	margin: 0px;
}
iframe{
	border: none;
}
h1{
	font-size: 1.3em; 
	font-family: Helvetica;
	font-style: bold;
	color: orange;
	text-shadow: 2px 2px 4px #e0e0e0;
}
.icon{

}
.iconClose{
	float: right;
}
/*----------Custom Element Styles-----------*/
.moneyRaised{
	color:#080; 
	text-shadow: 1px 1px 1px white, inset -1px -1px 1px black;
	font-size:2em;
	font-style: bold
}
.moneyRaised small{
	text-align: top;
}
.statNumbers{
	font-weight: 700;
}
.statText{
	font-size: 0.7em;
	color: #ccc;
}

/*----------Custom Div Styles----------*/
#sidebar{
	width: 100%;
}
#iSideBar{
	/*border-left: #d0d0d0 2px dashed; */
	box-shadow: -1px 0px 8px #999;
	height: 100%;
	width: 100%;
}
#myFrame{
	height: 100%;	
	width: 100%;
}
#logoDiv{
	background-image:url('images/bgnoise_logodark.png');
	margin-bottom: 5px;
	box-shadow: 1px 1px 5px #555;
	height: 80px;
}
#logoDiv h1{
	font-size: 2em;
	text-align: left;
	text-shadow: 1px 1px 3px #222, 1px -1px 3px #fff;
	padding-left: 5px;
	width: auto;
}
.span3{
	width: 13%;
	float: left;
}
.span9{
	width: 87%;
	float: left;
}
#infoBox{
	width: 100%;
}
#adsBox{
	width: 90%;
	padding-left: 5px;
	margin-right: -5px;
	padding-top: 5px;
}
#siteStats{
	padding-left: 5px;
	padding-top: 5px;
}
#aboutLinks{
	padding-left: 5px;
	box-shadow: 0px 1px 2px #999;
}
.hiddenSpread{
	display: none;
	background-image:url('images/bgnoise_divdark.png');
	height: 70%;
	box-shadow: inset 0px 0px 5px white;
	border: 1px solid orange;
	position: absolute;
	width: 50%;
	right: 13%;
	opacity: 0.6;
	/*font styling*/
	color: white;
	padding:20px;
}
/*-------animation styles-------*/
.grayBG{
	background-image:url('images/bgnoise.png');
}
.grayDarkBG{
	color: #a0a0a0;
}

/*-----Inputs------*/

input {
	border:2px solid #deeefa;
	font-size:10px;
	width: 120px;
	padding:5px;
	box-shadow: 1px 1px 5px #404040;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 5px;
}
input:focus{
	outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

button {
	border-radius:3px;
	font-size:15px;
	padding: 3px;
	margin-top: 6px;
	vertical-align: middle;
	box-shadow: 1px 1px 5px #404040;
	color: white;
	text-shadow: 1px 1px 2px black;
	background-image: -webkit-linear-gradient(top, #E0E0E0 0%, #B3B3B3 100%);
}
button:hover {
	border:2px solid #9ecaed;
	outline:none;
  box-shadow:0 0 10px #9ecaed;
 	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #87DBFF 0%, #48B2E2 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #87DBFF 0%, #48B2E2 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #87DBFF 0%, #48B2E2 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #87DBFF), color-stop(1, #48B2E2));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #87DBFF 0%, #48B2E2 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #87DBFF 0%, #48B2E2 100%);
}





/*----Fonts-----*/
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Yesteryear|Oswald:700,400,300|Pacifico);


/*------------------------

Icons courtesy of: Matt Gentile - "Pixel UI Icon Set"
http://www.icondeposit.com/theicondeposit:21
Creative Commons Attribution 3.0 License

-------------------------*/